:root {
}

.unity-text-element {
    color: rgb(29, 14, 180);
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/UI/Boxy-Bold.ttf?fileID=12800000&guid=1ef4ad489e2e36749bf4c4e68f068b22&type=3#Boxy-Bold");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    letter-spacing: 10px;
}

.menu {
    background-color: rgba(191, 191, 191, 0.69);
}
